*{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height: 60px;
    width: 1500px;
    background-color: green;
}

button{
    background-color: white;
    color: black;
}

a{
    margin-right: 200px;
    text-decoration: none;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

div{
    text-align: center;
    line-height: 60px;
}
#Sanskrit{
    color: black;
    text-align: center;
    font-size: x-large;
    
}
#english{
    color: rgb(99, 93, 93) ;
    font-size: x-large;

}

#searchbar {
    width: 70px;
    border-radius: 20px; 
    padding: 10px; 
    border-color: black;
}
